{% import _self as macros %}

{% macro content() %}
    <div id="feedback" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <button class="uk-modal-close" type="button" uk-close></button>

            <h2 class="uk-modal-title">
                Оставить заявку
            </h2>
            
            <p class="uk-margin-top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dignissimos tempore quisquam provident illum repudiandae ea aspernatur corrupti accusamus laudantium cumque unde autem esse, expedita molestiae sunt dolorem commodi et reiciendis facilis enim dolorum fugiat. Sed, sit eius quas in temporibus molestiae voluptatibus? Iste dolorem ullam dolores sed, ipsam excepturi.</p>
        </div>
    </div>
{% endmacro %}

{{ macros.content }}