<html lang="{{ app.getLocate }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Загородный дом</title>
    
        <link href="/build/bundle.css" rel="stylesheet">

        {% block headScripts %}{% endblock headScripts %}
    </head>
    <body>
        <div class="Layout">
            <header class="Layout__header">
                {% include "@components/header/header.twig" %}
            </header>

            <main class="Layout__main">
                {% block main %}{% endblock %}
            </main>

            <footer class="Layout__footer">
                {% include "@components/footer/footer.twig" %}
            </footer>
        </div>

        {% block modals %}
            {% include "@components/feedback-modal/feedback-modal.twig" %}
        {% endblock %}

        {% block bodyScripts %}
            <script type="text/javascript" src="/build/bundle.js"></script>
        {% endblock bodyScripts %}
    </body>
</html>