.Nav {
    display: flex;
    list-style: none;

    &_column {
        flex-flow: column;
        
        %Nav_column__listItem {
            :root & {
                margin-right: unset;
            }
            &:not(:last-child) {
                margin-bottom: 1.5em;
            }
        }
    }

    &__listItem {
        @extend %Nav_column__listItem;
        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__item {
        color: $color-gray;
        &:hover,
        &:focus,
        &:active {
            color: black;
        }
    }
}